/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define NAV_L 1
#define OTHER_L 2
#define NUM_L 3
#define SYM_L 4

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace

&lt { quick_tap_ms = <200>; };

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        click_layer: click_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "CLICK_LAYER";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&to>;
        };

        l4tapDance: l4tapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "L4TAPDANCE";
            #binding-cells = <0>;
            bindings = <&click_layer 3 2>, <&click_layer 6 2>;
        };

        l0tapDance: l0tapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "L0TAPDANCE";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&to 2>;
        };
    };

    combos {
        compatible = "zmk,combos";

        left_bkt {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <2 3>;
        };

        right_bkt {
            bindings = <&kp RBKT>;
            key-positions = <7 6>;
        };

        left_par {
            bindings = <&kp LPAR>;
            key-positions = <13 12>;
        };

        right_par {
            bindings = <&kp RPAR>;
            key-positions = <16 17>;
        };

        left_brc {
            bindings = <&kp LBRC>;
            key-positions = <22 23>;
        };

        right_brc {
            bindings = <&kp RBRC>;
            key-positions = <26 27>;
        };

        blsh {
            bindings = <&kp BSLH>;
            key-positions = <4 5>;
        };

        pipe {
            bindings = <&kp PIPE>;
            key-positions = <14 15>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q  &kp W  &kp E  &kp R                      &kp T                     &kp Y             &kp U        &kp I                 &kp O           &kp P
&kp A  &kp S  &kp D  &kp F                      &kp G                     &kp H             &kp J        &kp K                 &kp L           &lt 4 LEFT_SHIFT
&kp Z  &kp X  &kp C  &kp V                      &kp B                     &kp N             &kp M        &hm LEFT_CONTROL TAB  &hm LSHIFT ESC  &hm LEFT_COMMAND TAB
                     &hm LEFT_ALT LEFT_COMMAND  &hm LEFT_COMMAND SPACE    &click_layer 1 2  &lt 5 SPACE
            >;
        };

        nav_layer {
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp GRAVE        &kp BACKSLASH  &kp SEMICOLON          &kp LEFT_BRACKET           &hm LEFT_ALT RIGHT_BRACKET  &hm LEFT_COMMAND BACKSPACE
&kp N5        &kp N6        &kp N7        &kp N8        &kp BACKSLASH    &kp LEFT       &hm LEFT_COMMAND DOWN  &hm LEFT_COMMAND UP_ARROW  &hm LEFT_ALT RIGHT          &hm LEFT_SHIFT ENTER
&kp MINUS     &kp EQUAL     &kp N9        &kp N0        &kp SEMICOLON    &kp SQT        &kp COMMA              &hm LEFT_ALT PERIOD        &hm LEFT_SHIFT ESC          &hm LEFT_CONTROL SLASH
                                          &trans        &trans           &none          &none
            >;
        };

        nav_layer2 {
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp GRAVE        &kp N1            &kp N2                 &kp C_VOLUME_DOWN          &kp C_VOLUME_UP     &lt 6 BACKSPACE
&kp N5        &kp N6        &kp N7        &kp N8        &kp BACKSLASH    &kp LEFT          &hm LEFT_COMMAND DOWN  &hm LEFT_COMMAND UP_ARROW  &hm LEFT_ALT RIGHT  &lt 6 LEFT_SHIFT
&kp MINUS     &kp EQUAL     &kp N9        &kp N0        &kp SEMICOLON    &kp N6            &kp LEFT_COMMAND       &trans                     &trans              &lt 4 TAB
                                          &trans        &trans           &click_layer 3 0  &trans
            >;
        };

        nav_layer3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans        &trans         &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &kp LC(LEFT)  &kp LC(RIGHT)  &trans  &kp ENTER
&trans  &trans  &trans  &trans  &trans    &trans  &trans        &trans         &trans  &trans
                        &trans  &trans    &none   &none
            >;
        };

        num_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &kp NUMBER_4               &kp NUMBER_3            &kp NUMBER_2  &kp NUMBER_1       &kp TILDE
&trans  &trans  &trans  &trans  &trans    &kp N8                     &hm LEFT_SHIFT N7       &kp NUMBER_6  &hm LEFT_SHIFT N5  &trans
&trans  &trans  &trans  &trans  &trans    &kp NUMBER_0               &kp N9                  &kp EQUAL     &kp MINUS          &trans
                        &trans  &trans    &hm LEFT_COMMAND C_VOL_DN  &hm LSHIFT C_VOLUME_UP
            >;
        };

        left_layer {
            bindings = <
&kp F1            &kp F2             &kp F3  &kp F4   &kp F12       &kp T  &kp R               &hm LEFT_ALT E    &hm LEFT_ALT W    &kp Q
&kp F5            &kp F6             &kp F7  &kp F8   &kp F11       &kp G  &hm LEFT_COMMAND F  &hm LEFT_SHIFT D  &hm LEFT_SHIFT S  &hm LEFT_COMMAND A
&kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp F9  &kp F10  &kp DELETE    &kp B  &hm LEFT_COMMAND V  &hm LEFT_ALT C    &hm LEFT_SHIFT X  &hm LEFT_COMMAND Z
                                             &kp INS  &trans        &none  &none
            >;
        };

        right_layer2 {
            bindings = <
&kp Q  &kp W  &kp E  &kp R                      &kp T                     &kp Y  &kp U  &kp I  &kp O  &kp P
&kp A  &kp S  &kp D  &kp F                      &kp G                     &kp H  &kp J  &kp K  &kp L  &none
&kp Z  &kp X  &kp C  &kp V                      &kp B                     &kp N  &kp M  &kp P  &kp Z  &none
                     &hm LEFT_ALT LEFT_COMMAND  &hm LEFT_COMMAND SPACE    &none  &kp P
            >;
        };
    };
};
