/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define NAV_L 1
#define OTHER_L 2
#define NUM_L 3
#define SYM_L 4

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace

&lt { quick_tap_ms = <200>; };

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        click_layer: click_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "CLICK_LAYER";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&to>;
        };

        l4tapDance: l4tapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "L4TAPDANCE";
            #binding-cells = <0>;
            bindings = <&click_layer 3 2>, <&click_layer 7 2>;
        };

        l0tapDance: l0tapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "L0TAPDANCE";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&to 2>;
        };
    };

    combos {
        compatible = "zmk,combos";

        left_bkt {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <2 3>;
        };

        right_bkt {
            bindings = <&kp RBKT>;
            key-positions = <7 6>;
        };

        left_par {
            bindings = <&kp LPAR>;
            key-positions = <13 12>;
        };

        right_par {
            bindings = <&kp RPAR>;
            key-positions = <16 17>;
        };

        left_brc {
            bindings = <&kp LBRC>;
            key-positions = <22 23>;
        };

        right_brc {
            bindings = <&kp RBRC>;
            key-positions = <26 27>;
        };

        blsh {
            bindings = <&kp BSLH>;
            key-positions = <4 5>;
        };

        pipe {
            bindings = <&kp PIPE>;
            key-positions = <14 15>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&hm LEFT_COMMAND Q  &kp W             &kp E             &hm LEFT_COMMAND R  &kp T               &kp Y             &kp U               &kp I                 &kp O             &kp P
&lt 4 A             &hm LEFT_SHIFT S  &hm LEFT_SHIFT D  &hm LEFT_COMMAND F  &kp G               &kp H             &hm LEFT_COMMAND J  &hm LEFT_SHIFT K      &hm LEFT_SHIFT L  &lt 4 LEFT_SHIFT
&hm LEFT_COMMAND Z  &hm LEFT_ALT X    &hm LEFT_ALT C    &hm LEFT_COMMAND V  &kp B               &kp N             &kp M               &hm LEFT_CONTROL TAB  &hm LSHIFT ESC    &hm LEFT_COMMAND TAB
                                                        &lt 5 SPACE         &click_layer 1 2    &click_layer 1 2  &lt 6 SPACE
            >;
        };

        nav_layer {
            bindings = <
&kp NUMBER_1       &kp NUMBER_2               &kp NUMBER_3         &kp NUMBER_4       &kp GRAVE        &kp BACKSLASH  &kp LEFT_BRACKET       &kp UP_ARROW           &hm LEFT_ALT RIGHT_BRACKET  &hm LEFT_COMMAND BACKSPACE
&hm LEFT_SHIFT N5  &hm LEFT_COMMAND NUMBER_6  &hm LEFT_ALT N7      &hm LEFT_SHIFT N8  &kp BACKSLASH    &kp SEMICOLON  &hm LEFT_COMMAND LEFT  &hm LEFT_COMMAND DOWN  &hm LEFT_ALT RIGHT          &hm LEFT_SHIFT ENTER
&kp MINUS          &kp EQUAL                  &hm LEFT_CONTROL N9  &kp N0             &kp SEMICOLON    &kp SQT        &kp COMMA              &hm LEFT_ALT PERIOD    &hm LEFT_SHIFT ESC          &hm LEFT_CONTROL SLASH
                                                                   &trans             &trans           &none          &none
            >;
        };

        nav_layer2 {
            bindings = <
&kp GRAVE         &kp C_VOLUME_DOWN  &kp C_VOLUME_UP       &kp GRAVE              &kp GRAVE           &kp N1            &kp N2                 &kp C_VOLUME_DOWN          &kp C_VOLUME_UP     &lt 4 BACKSPACE
&lt 7 LEFT_SHIFT  &hm LEFT_ALT LEFT  &hm LEFT_COMMAND UP   &hm LEFT_COMMAND DOWN  &kp RIGHT           &kp LEFT          &hm LEFT_COMMAND DOWN  &hm LEFT_COMMAND UP_ARROW  &hm LEFT_ALT RIGHT  &lt 4 LEFT_SHIFT
&lt 5 TAB         &kp ESC            &hm LEFT_CONTROL TAB  &kp GRAVE              &kp GRAVE           &kp N6            &kp LEFT_COMMAND       &trans                     &trans              &lt 7 TAB
                                                           &lt 7 SPACE            &click_layer 3 0    &click_layer 3 0  &trans
            >;
        };

        nav_layer3 {
            bindings = <
&trans     &trans  &trans        &trans         &trans    &trans  &trans        &trans         &trans  &trans
&kp ENTER  &trans  &kp LC(LEFT)  &kp LC(RIGHT)  &trans    &trans  &kp LC(LEFT)  &kp LC(RIGHT)  &trans  &kp ENTER
&trans     &trans  &trans        &trans         &trans    &trans  &trans        &trans         &trans  &trans
                                 &trans         &trans    &none   &none
            >;
        };

        num_layer {
            bindings = <
&kp GRAVE  &kp N1     &kp N2     &kp N3                        &kp N4                          &kp NUMBER_4               &kp NUMBER_3            &kp NUMBER_2  &kp NUMBER_1       &kp GRAVE
&trans     &kp N5     &kp N6     &kp N7                        &kp N8                          &kp N8                     &hm LEFT_SHIFT N7       &kp NUMBER_6  &hm LEFT_SHIFT N5  &trans
&trans     &kp MINUS  &kp EQUAL  &kp N9                        &kp N0                          &kp NUMBER_0               &kp N9                  &kp EQUAL     &kp MINUS          &trans
                                 &hm LEFT_SHIFT C_VOLUME_DOWN  &hm LEFT_COMMAND C_VOLUME_UP    &hm LEFT_COMMAND C_VOL_DN  &hm LSHIFT C_VOLUME_UP
            >;
        };

        right_layer {
            bindings = <
&kp P                 &kp O               &kp I                 &kp U    &kp Y     &kp F8  &kp F9      &kp F10   &kp F11   &kp F12
&kp LSHFT             &kp L               &kp K                 &kp J    &kp H     &kp F3  &kp F4      &kp F5    &kp F6    &kp F7
&hm LEFT_COMMAND TAB  &hm LEFT_SHIFT ESC  &hm LEFT_CONTROL TAB  &kp M    &kp N     &kp F1  &kp F2      &kp LBKT  &kp RBKT  &kp DELETE
                                                                &kp INS  &trans    &none   &kp INSERT
            >;
        };

        left_layer {
            bindings = <
&kp F1             &kp F2               &kp F3               &kp F4             &kp F12       &kp T  &kp R               &hm LEFT_ALT E    &hm LEFT_ALT W    &kp Q
&hm LEFT_SHIFT F5  &hm LEFT_COMMAND F6  &hm LEFT_ALT F7      &hm LEFT_SHIFT F8  &kp F11       &kp G  &hm LEFT_COMMAND F  &hm LEFT_SHIFT D  &hm LEFT_SHIFT S  &hm LEFT_COMMAND A
&kp LEFT_BRACKET   &kp RIGHT_BRACKET    &hm LEFT_CONTROL F9  &kp F10            &kp DELETE    &kp B  &hm LEFT_COMMAND V  &hm LEFT_ALT C    &hm LEFT_ALT X    &hm LEFT_COMMAND Z
                                                             &kp INS            &trans        &none  &none
            >;
        };

        right_layer2 {
            bindings = <
&kp Q               &kp W             &kp E             &kp R                      &kp T                     &kp Y  &kp U  &kp I  &kp O  &kp P
&hm LEFT_COMMAND A  &hm LEFT_SHIFT S  &hm LEFT_SHIFT D  &hm LEFT_COMMAND F         &kp G                     &kp H  &kp J  &kp K  &kp L  &none
&hm LEFT_COMMAND Z  &hm LEFT_ALT X    &hm LEFT_ALT C    &hm LEFT_COMMAND V         &kp B                     &kp N  &kp M  &kp P  &kp Z  &none
                                                        &hm LEFT_ALT LEFT_COMMAND  &hm LEFT_COMMAND SPACE    &none  &kp P
            >;
        };
    };
};
